################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/Videos
/source
/shopapp
/Searches
/Saved Games
/Pictures
/ovpntray.log
/openvpn-connect.json
/OneDrive
/ntuser.ini
/NTUSER.DAT{291e6075-907e-11eb-8e6f-fa2ab5854f9b}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{291e6075-907e-11eb-8e6f-fa2ab5854f9b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{291e6075-907e-11eb-8e6f-fa2ab5854f9b}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/northwind
/Music
/MicrosoftEdgeBackups
/Links
/IntelGraphicsProfiles
/git
/first-angular-app
/Favorites
/eclipse
/Downloads
/Documents
/Desktop
/Contacts
/Cisco Packet Tracer 7.2.2
/cantacim
/BrawlhallaReplays
/Apple
/AppData
/AndroidStudioProjects
/3D Objects
/.vscode
/.vs
/.tooling
/.templateengine
/.sts4
/.redhat
/.pylint.d
/.packettracer
/.p2
/.nuget
/.node_repl_history
/.mume
/.m2
/.librarymanager
/.lesshst
/.lemminx
/.idlerc
/.gradle
/.gitconfig
/.emulator_console_auth_token
/.eclipse
/.dotnet
/.config
/.cache
/.bash_history
/.angular-config.json
/.android
